.error {
    color: red;
}
.a-tag {
    text-decoration: none;
    color: inherit;
}
.a-tag:hover {
    color: inherit;
}

table {
        border-collapse: collapse; /* セルの境界線を結合して1本の線にする */
        border: 1px solid black; /* テーブル全体の枠線を追加 */
}

th, td {
    border: 1px solid black; /* セルの枠線を追加 */
    padding: 8px; /* セルの内側の余白を設定（任意の値に変更可能） */
}

.red {
    color: red;
}