.error {
    color: red;
}

.a-tag {
    text-decoration: none;
    color: inherit;
}

.a-tag:hover {
    color: inherit;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

.red {
    color: red;
}

.center {
    text-align: center;
    margin-top: 20px;
}

.all {
    background-color: lavender;
}

.login-form {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.border-login {
    border-radius: 10px;
}

.margin {
    margin-left: 10%;
    margin-right: 10%;
}

table {
    margin: auto;
    width: 90%;
    border: none;
    table-layout: fixed;
}

table th {
    background: #68a9eb;
    font-weight: bold;
    color: #fff;
}

table tr:nth-child(odd) {
    background: #F7EFE3;
}

.search-container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
}

.search-container input[type="text"] {
    border: none;
}

.search-container input[type="text"]:focus {
    outline: 0;
}

.search-container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879D9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline: none;
}

.form-body {
    width: 70%;
    margin: auto;
}

.base-text {
    width: 50%;
}

.basic-btn {
    margin: 10px;
}

.margin-text {
    margin-right: 20%;
}